
@{
    ViewData["Title"] = "Blog";
    int postNumber = 0;
}
@model Blog.Models.BlogInput;
<body>
    <form method="post">
    <div class="choosingUser">
        <!--
            User column input
        -->
        <div class="usercolumn">
                <input type="text" id="userInput" maxlength="15" name="UserName" value="@Model.UserName" />
                <h3>User</h3>     
        </div>
    
    <div class="textcloumn">

                <input type="text" name="UserText" id="textInput" value="@Model.UserText" />
                
                
            <button type="submit" value="submit" id="blogSubmitButton" class="button">SEND</button>
            
        <!--   Text column input
        -->
        
    </div>
    </div>
    </form>
    
    <!-- generating users according to the list-->
    @foreach(User user in BlogInput.users){
    <div >
            
            <div class="blog-section" >
                <div class="closeContainer">
                <p class="closeButton" data-item=@postNumber.ToString()>&times;</p>
            </div>
                <div class="user-container">
                <label class="user-text">@user.UserName</label>
                </div>
                <div class="text-container">
                    
                    <p class="long-text">@user.UserText</p>
                    
                </div>
                
            </div>
        </div>
        postNumber++;
    }
    
</body>
<!--



--->