@{
    // title of the web page
    ViewData["Title"] = "Blog";
}

@model Blog.Models.BlogInput;

<body>
    <!--  form for submitting a new blog post -->
    <form method="post">
        <div class="choosingUser">
            <!-- User input column -->
            <div class="usercolumn">
                <input type="text" id="userInput" maxlength="15" name="UserName" value="@Model.UserName" />
                <h3>User</h3>
            </div>

            <!-- Text input column -->
            <div class="textcloumn">
                <input type="text" name="UserText" id="textInput" value="@Model.UserText" />
                <button type="submit" value="submit" id="blogSubmitButton" class="button">SEND</button>
            </div>
        </div>
    </form>

    <!-- Loop over existing blog posts and generate a list of them -->
    @foreach (User user in BlogInput.users)
    {
        <div>
            <div class="blog-section">
                <div class="user-container">
                    <label class="user-text">@user.UserName</label>
                </div>
                <div class="text-container">
                    <p class="long-text">@user.UserText</p>
                </div>
            </div>
        </div>
    }
</body>