
@{
    ViewData["Title"] = "Blog";
}
<body>
    <div class="choosingUser">
        <!--
            User column input
        -->
        <div class="usercolumn">
            <h1>User</h1>
            <input type="text" id="userInput" name="userInput" />
            
            
            
        </div>
    
    <div class="textcloumn">
            <input type="text" name="textInput" id="textInput" />
            <button type="submit" value="submit" id="blogSubmitButton" class="button">SEND</button>
        <!--   Text column input
        -->
        
    </div>
    </div>
    <div>
        <div class="blog-section">
        <label class="user">Userdfskdfsdfsk</label>
            <label class="text">User text</label>
        </div>
    </div>
</body>
<!--



--->