
@{
    ViewData["Title"] = "Blog";
}
@model Blog.Models.BlogInput;
<body>
    <form method="post">
    <div class="choosingUser">
        <!--
            User column input
        -->
        <div class="usercolumn">
                <input type="text" id="userInput" name="UserName" value="@Model.UserName" />
                <h3>User</h3>
                
            
               
                
            
            
        </div>
    
    <div class="textcloumn">

                <input type="text" name="UserText" id="textInput" value="@Model.UserText" />
                
                
            <button type="submit" value="submit" id="blogSubmitButton" class="button">SEND</button>
            
        <!--   Text column input
        -->
        
    </div>
    </div>
    </form>
    <!-- generating users according to the list-->
    @foreach(User user in BlogInput.users){
    <div>
            <div class="blog-section">
                <label class="user">@user.UserName</label>
                <label class="text">@user.UserText</label>
            </div>
        </div>
    }
    
</body>
<!--



--->