html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.city-container{
    height:auto;
    margin-left:-15%;
    
}
.left-container {
    width: 40%;
    padding: 10px;
    float:left;
    clear:none;
    text-align:right;
    vertical-align:auto;
    
}
.right-container {
    width: 60%;
    padding: 10px;
    float:right;
    clear:none;
}


#city {
    width: 70%;
    height: 70%;
}
.button {
    background-color: #22577A;
    color: white;
    border-radius: 5px;
    width: 170px;
    height: 45px;
    min-width: 170px;
    min-height: 45px;
    font-weight: 500;
    font-size: 20px;
}
.newbutton {
    background-color: #22577A;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    min-width: 20px;
    min-height: 50px;
    font-weight: 500;
    font-size: 20px;
}
.star-container {
    display: flex;
    margin-top: 200px;
}
.left-star{
    width:35%;
    
    
}
.new{
    position:fixed;
    bottom:0;
    text-align:center;
    display:inline-block;
    margin-bottom:8vw;
}
#inputIndex {
    margin-right: 3vw;
    margin-left:80px;
}
#labelIndex {
    padding-right:100px;
    font-size:30px;
    font-weight:500;
}
.mid-star {
    width: 25%
}
.right-star {
    width: 25%;
    
}
.choosingUser {
    column-count: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#textInput {
    width: 110%;
    height: 20vh;
    border-radius: 5px;
    border-width: 3px;
    border-color: #22577A;
}
#userInput {
    width: 60%;
    height: 6vh;
    border-radius: 5px;
    border-width:3px;
    border-color: #22577A;
}
.usercloumn {
    width: 30%;
    display: flex;
    margin-bottom:50px;
    align-items: center;
    
}
.textcloumn {
    width: 70%;
    
}
#blogSubmitButton{
    margin-top:2vh;
    align-items:end;
    float:right;
}
.user {
    margin-right: 10vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 2vw;
    color: white;
    border-radius: 10px;
    background-color: #22577A;
}
.text {
    border-radius: 10px;
    padding: 2vw;
    margin-right: -200vw;
    border: 5px solid #22577A;
    top: 0;
    margin-top:2vw;
    margin-bottom:2vw;
}
.blog-section {
    column-count: 2;
    display: flex;
    align-items: start;
    justify-content: left;
}
